* {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 22px;
}

p {
    font-size: 16px;
}

#content-index{
    background-image:url(img/imagen-fondo.png) ;
    color: white;
}

#content-in{
    width: 571px;
    height: 619px;
    background-color: #022332;
    opacity: 0.9;

}

#content-in img{
    width: 185px;
    height: 152px;
    color: white;
}

#flags-house img{
    width: 56.3px;
    height: 67.23px;
}
