* {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 22px;
}

p {
    font-size: 16px;
}

#content-index{
    background-image:url(img/imagen-fondo.png) ;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

#content-in{
    width: 571px;
    height: 619px;
    background-color: #022332;
    opacity: 0.9;
    margin: 200px 400px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#content-in img{
    width: 185px;
    height: 152px;
    color: white;
    margin-top: 54px;
    margin-bottom: 40px;

}

#content-in p{
    width: 397px;
    height: 89px;
    padding-bottom: 40px;
    font-size: 16px;
}

#flags-house img{
    width: 56.3px;
    height: 67.23px;
}
#button-access{
    width: 156px;
    height: 51px;
    font-size: 22px;
    background-color: #229A9B;
    border-radius: 4px;
    border: none;
    color: white;
    /* margin-top: 40px; */
    /* margin-bottom: 35px; */
}
